*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("/images/pancakeBackgroundTwo.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.frontPage
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.frontPageContact
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contactInfo
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0;
}

h1
{
    color: white;
    text-shadow: 5px 5px 5px black;
font-size: 75px;
}

h2
{
    color: white;
}

.pancakeTitle
{
    margin-top: 80px;
    margin-bottom: 10px;
}

.navigationBar img
{
    width: 100px;
    height: auto;
}

a{
    color: white;
    text-decoration: none;
}

.navigationBar a
{
    padding: 0 30px;
}

.navigationBar{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.fixer .navigationBar
{
    align-self: center;
}

h1, h2, h3,p, div a
{
    font-family: 'Lexend Giga', sans-serif;
}

span
{
    font-family: 'Lexend Giga', sans-serif;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 40px;
}

.italic
{
    margin-bottom: 20px ;
}


.firstButton
{
    padding: 8px 30px;
    background: linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45));
    border: 2px solid rgb(163, 108, 36);
    color: white;
    font-family: 'Lexend Giga', sans-serif;
}

.secondButton
{
    padding: 8px 30px;
    background: linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45));
    border: 2px solid rgb(163, 108, 36);
    color: white;
    font-family: 'Lexend Giga', sans-serif;
}

.firstButton:hover{
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));   
}

.navigationBar a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(163, 108, 36);
    text-decoration-thickness: 3px;
}

.outOfFlex
{
    position: absolute;
    bottom: 20px;
    left: calc((100% - 40px) /2);
}

.fa-chevron-circle-down
{
    font-size: 40px;
    color: rgba(255, 255, 255, 1);
}

.fa-chevron-circle-down:hover{
    color: rgba(163, 108, 36, 1);
}


.meetTheTeam
{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.secondPageFront
{
    min-height: 100vh;
}

.teamGrid
{
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    text-align: center;
}

.personCard
{
    width: 300px;
    height: 400px;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
    margin-right: 20px;
}

.one{
    background: linear-gradient(rgba(177,123,79,0.8), rgba(177, 123, 79, 0.8)), url("/images/man1.jpeg");
}

.two{
    background: linear-gradient(rgba(177,123,79,0.8), rgba(177, 123, 79, 0.8)), url("/images/woman1.jpeg");
}

.three{
    background: linear-gradient(rgba(177,123,79,0.8), rgba(177, 123, 79, 0.8)), url("/images/man2.jpeg");
}

.four{
    background: linear-gradient(rgba(177,123,79,0.8), rgba(177, 123, 79, 0.8)), url("/images/woman2.jpeg");
}

.five{
    background: linear-gradient(rgba(177,123,79,0.8), rgba(177, 123, 79, 0.8)), url("/images/man3.jpeg");
}

.six{
    background: linear-gradient(rgba(177,123,79,0.8), rgba(177, 123, 79, 0.8)), url("/images/woman3.jpeg");
}

.personRotated
{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -100;
    background: white;
    position: absolute;
    top: -15px;
    left: 13px;
    border-radius: 10px;
}



.personCard h1, .personCard h2{
    margin: 0 7px;
}

.personCard h2{
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 15px;
}

.personCard i{
    font-size: 45px;
    margin: 10px 5px;
}

.personHidden
{
    display: none;
}

.fa-facebook-square:hover
{
    color: blue;
}

.fa-twitter-square:hover
{
    color: cyan;
}

.fa-instagram-square:hover
{
    color: rgb(223, 3, 223);
}

.fa-youtube-square:hover
{
    color: red;
}

.personCard:hover > .personHidden{
    display: initial;
}

.teamGrid h1
{
    font-family: 'Lexend Giga', sans-serif;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 40px;
}

.heading
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.heading i{
    color: rgb(163, 108, 36);
    font-size: 35px;
    text-shadow: 5px 5px 5px black;
}

.footer{
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, .7);
    min-height: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.footer img
{
    width: 75px;
    height: auto;
}

.footer i{
    font-size: 40px;
}

.footer p{
    color: white;
}

.menuBar
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.menuBar div:hover{
    background: black;
}

.menuBar a{
    margin: 10px;
}

.menuBar > a > div
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 175px;
    width: 175px;
    margin: 0 60px;
    border: 3px solid rgba(163, 108, 36, 1);
    background: rgba(0, 0, 0, .5);
}

.menuBar > a > div i{
    font-size: 35px;
}

.menuTitle
{
    margin: 20px 0;
}

.secondPageMenu
{
    background: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.secondPageMenu h2
{
    font-size: 40px;
}

.secondPageMenu h3
{
    font-family: 'Lexend Giga', sans-serif;
    color: white;
    font-size: 20px;
}

.secondPageMenu p
{
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 13px;
}

.itemType
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.itemBox
{
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.itemBox > *
{
    margin-top: 12px;
}

.pictureDiv
{
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 50%;
}

.item1
{
    background: url("/images/menuOne.jpeg");
}

.item2
{
    background: url("/images/pancakeThree.jpeg");
}

.item3
{
    background: url("/images/menuThree.jpeg");
}

.item4
{
    background: url("/images/menuFour.jpeg");
}

.item5
{
    background: url("/images/menuFive.jpeg");
}

.item6
{
    background: url("/images/menuSix.jpeg");
}

.item7
{
    background: url("/images/menuSeven.jpeg");
}

.item8
{
    background: url("/images/menuEight.jpeg");
}

.item9
{
    background: url("/images/menuNine.jpeg");
}

.item10
{
    background: url("/images/menuTen.jpeg");
}

.item11
{
    background: url("/images/menuEleven.jpeg");
}

.item12
{
    background: url("/images/menuTwelve.jpeg");
}

.item13
{
    background: url("/images/menuThirteen.jpeg");
}

.item14
{
    background: url("/images/menuFourteen.jpeg");
}

.item15
{
    background: url("/images/menuFifteen.jpeg");
}

.contactInfo
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#map {
    height: 450px;
    width: 750px;
  }

form
{
    background: rgba(0, 0, 0, .7);
    width: 300px;
    height: 450px;
    border: 2px solid white;
}

label
{
    color: white;
    font-family: 'Lexend Giga', sans-serif;
    margin-left: 15px;
}

input
{
    margin-bottom: 15px;
    color: white;
    font-family: 'Lexend Giga', sans-serif;
    background: rgba(0, 0, 0, .7);
    border: 1px solid white;
    margin-left: 15px;
    width: 265px;
    height: 30px;
    padding: 0 10px;
}

textarea
{
    margin-bottom: 15px;
    color: white;
    font-family: 'Lexend Giga', sans-serif;
    background: rgba(0, 0, 0, .7);
    border: 1px solid white;
    margin-left: 15px;
    width: 265px;
    height: 150px;
}

.phpForm .sub-btn
{
    width: 100px;
    margin-left: 100px;
    background: rgba(0, 0, 0, .7);
    color:white;
}

.sub-btn:hover
{
    background: rgb(177,123,79);
    color:black;
}

.mobileMenu
{
    display: none;
    height: 55px;
    max-width: 100vw;
    padding-right: 30px;
    background-color: black;
    justify-content: flex-end;
    align-items: center;
}

.mobileMenu i
{
    justify-self: flex-end;
}

.mobileMenu .mobileImage{
    margin-right: auto;
    margin-left: 10px;
}

.mobileMenu img
{
    height: 45px;
    width: 45px;
}

.mobileIcon
{
    color: white;
    font-size: 30px;
}

.mobileIcon:hover
{
    cursor: pointer;
}

.toggleMenu
{
    display: none;
    height: 100vh;
    max-width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
    position: relative;
}

.toggleMenu .floatAbsolute
{
    position: absolute;
    right: 15px;
    top: 15px;
}

.toggleMenu > *
{
    margin: 20px 20px;
}

.toggleMenu .floatUp{
    justify-self: flex-start;
}

.toggleMenu div i{
    color: white;
    font-size: 30px;
}

.toggleMenu img{
    height: 65px;
    width: 65px;
}

.toggleMenu a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(163, 108, 36);
    text-decoration-thickness: 3px;
}

.floatAbsolute:hover
{
    cursor: pointer;
}

#interactiveAbout
{
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

#slideShowContainer
{
    max-height: 100vh;
    width: 400vw;
    overflow: hidden;
    background-color: pink;
    position: absolute;
}


.radioRow
{
    position: absolute;
    left: 30%;
    bottom: 10px;
}

.lefty, .righty
{
    position: absolute;
    color: white;
    font-size: 50px;
}

.lefty, .righty{
    top: 48%;
}

.lefty{
    left: 20px;
}

.righty{
    right: 20px;
}

.righty:hover, .lefty:hover{
    cursor: pointer;
}

.floater
{
    float: left;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="radio"] {
    -ms-transform: scale(.5); 
    -webkit-transform: scale(.5);
    transform: scale(.5);
    margin-right: -215px;
    z-index: 4000;
}

#slider1
{
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("/images/slide3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slider2
{
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("/images/slide2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slider3
{
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("/images/slide1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slider4
{
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url("/images/slide4.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.floater h1:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgb(163, 108, 36);
    text-decoration-thickness: 7px;
}

.fixer
{
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
}

#whatWeDo
{
    display: none;
}

#ourMission
{
    display: none;
}

#ourValues
{
    display: none;
}

#ourHistory
{
    display: none;
}

.innerFixer
{
    position: relative;
    display: flex;
    flex-direction: column;
}

.innerFixerHistory
{
    position: relative;
}

.fixer > div
{
    position: relative;
}

.fixer *
{
    color: white;
    text-align: center;
}

.fixer .fa-times{
    font-size: 30px;
}

.closer
{
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: 100000;
}

.fixer .fa-times:hover
{
    cursor: pointer;
}

.quoteBoxRow
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.quoteBox
{
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px 20px;
}

.fixer h1
{
    font-size: 60px;
    margin: 25px 0;
}

.quoteBoxRow p
{
    text-align: center;
}

.quoteBox p, .quoteBox h1, .quoteBox h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 45px;
    text-align: center;
}

.quoteBox .quoteLeft
{
position: absolute;
top: -38px;
left: 115px;
height: 75px;
width: 75px;
border-radius: 50%;
background: rgb(163, 108, 36);
display: flex;
align-items: center;
justify-content: center;
}

.quoteBox .quoteRight
{
position: absolute;
bottom: -38px;
left: 115px;
height: 75px;
width: 75px;
border-radius: 50%;
background: rgb(163, 108, 36);
display: flex;
align-items: center;
justify-content: center;
}

.fa-quote-left, .fa-quote-right
{
    font-size: 30px;
}

.q1
{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/square1.jpeg");
}

.q2
{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/square2.jpeg");
}

.q3
{
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/square3.jpeg");
}

.historyBackground
{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("/images/ssBackground.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.middleBlock
{
    background: white;
    width: 500px;
    height: 175px;
    align-self: center;
    justify-self: center;
    color: black;
    margin-left: calc((100% - 500px)/2);
    display: flex;
    flex-direction: row;
}

.logoBlock
{
    width: 175px;
    height: 100%;
    background: rgb(209, 147, 65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textBlock
{
    width: 100%;
}

.logoBlock img
{
    width: 75%;
}

.middleBlock .textBlock p
{
    color: black;
    text-align: left;
    margin: 15px;
}

.innerFixer .navigationBar
{
    
}

.historyGrid
{
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.historyPage
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/ssBackground.jpeg");
    background-size: cover;
    background-position: center;
}

.historyBlock
{
    display: grid;
    width: 600px;
    height: auto;
    background: white;
    justify-content: center;
    align-items: center;
    grid-template-columns: 150px 450px;
    grid-template-rows: repeat(4, 125px);
    background: rgb(209, 147, 65);;
}

.dateBlock
{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: rgb(209, 147, 65);;
    border: 6px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}

.dateBlock p
{
    color: white;
    font-size: 20px;
}

.sideOfDate
{
    background: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideOfDate p
{
    color:black;
    font-size: 15px;
}

.block1
{
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("/images/block1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.block2
{
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("/images/block2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.block3
{
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("/images/block3.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.block4
{
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("/images/block4.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

.overlay .navigationBar
{
    align-self: flex-start;
}

.overlay .middleBlock
{
    align-self: flex-start;
    margin-top: 0;
}

.block1, .block2, .block3, .block4
{
    width: 100%;
    height: 100%;
}

/* .valuesPage
{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 500px;
    overflow-y: inherit;
} */

.valuesPage
{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.absoluter{
    position: absolute;
    left: 0;
    top: 0;
}

.circleNum
{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 8px solid rgb(241, 170, 77);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleNum h1
{
    color: rgb(241, 170, 77);
    text-shadow: none;
    font-size: 100px;
}

.valuesPage .closer
{
    z-index: 10000;
}

.valueText
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.numberBox
{
    background: rgb(241, 170, 77);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valueDisplay
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
   margin: 60px 0;
}


.value1
{
    width: 100vw;
}

.value2
{

    width: 100vw;
}


.num1
{
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("/images/block1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nonNumber
{
    background:rgba(0, 0, 0, .0);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nonNumber p, .nonNumber h1{
    color: rgb(241, 170, 77);
    text-shadow: none;
    font-family: 'Lexend Giga', sans-serif;
    margin: 20px;
}

/* @media only screen and (max-width: 1080px)
{
    .mobileMenu
    {
        display: flex;
    }

    .navigationBar
    {
        display: none;
    }
} */